<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html,
        body {
            margin-top: 5px;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .wrapper {

            width: 800px;
            height: auto;
            margin: 0 auto;
            background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
            padding: 40px;
            box-sizing: border-box;
            border-radius: 20px;
            position: relative;

        }

        img {
            width: 80%;
            height: 70%;
        }

        p {
            text-indent: 2em;
            text-align: left;
        }

        h1 {
            color: #c41b1b;
        }
    </style>
</head>
<body style="background: #d04b4b">
<section>
    <div class="wrapper">
        <div class="form">
            <div id="1">
                <h1 style="text-align: left">
                    校庆资讯
                </h1>
                <h1 style="text-align: center">
                    学校举行60周年校庆倒计时100天活动
                </h1>
                <div style="text-align: center">
                    日期：2018-06-07
                </div>
                <p>
                    六十年薪火相传，一甲子春华秋实。2018年11月16日，广西科技师范学院隆重举行建校60周年庆祝大会，嘉宾、校友、师生欢聚一堂，追忆60年奋斗历程，共话新时代美好未来。
                </p>
                <br/>
                <div style="size: 50px">
                    <img src="../static/img/xq1.jpg">
                </div>

                <h>大会现场</h>
                <div><br/></div>
                <p>
                    上午10时，庆祝大会在大礼堂举行，自治区人民政府副主席黄俊华，自治区政协经济委员会主任杨和荣，自治区人民政府参事、督学于瑮，来宾市委书记、市人大常委会主任农生文，
                    来宾市人大常委会副主任、党组副书记庞标益，自治区人民政府副秘书长、办公厅副主任唐宁，自治区高校工委副书记覃萍，自治区科技厅副厅长廖文军，自治区政协港澳台侨和外事
                    委员会副主任罗建文，自治区妇联副主席伍艳娟，南宁市人大常委会副主任阮兆丰，桂林市委常委、宣传部部长、副市长韦凤云，来宾市委常委、常务副市长廖和明，来宾市委常委、秘
                    书长兰筱斌，来宾市政协副主席凌尔健、潘启优等领导，中南民族大学、桂林理工大学等区内外30多所高校领导，学校历届老领导、离退休教职工、校友、在校师生代表共1600多人欢
                    聚在学校大礼堂，共襄盛典。大会由学校党委书记陈贵英主持。
                </p>
                <br/>
                <div style="size: 50px">
                    <img src="../static/img/xq2.jpg">
                </div>
                <h>
                    学校党委书记陈贵英主持大会
                </h>
                <div><br/></div>
                <p>
                    在庆祝大会上，张鹏校长代表学校作题为《启智育人六十载、筑梦前行谱华章》的热情洋溢的致辞。他简要回顾了学校跌宕而光辉的办学历程，并指出，从“宜山师范专科学校”到“柳州师范
                    高等专科学校”，再到“广西科技师范学院”，校名改了，但学校教育强国的初心没有变；从宜山到柳州、再到来宾，校址变了，但回报社会、服务地方的初心没有变。他说，建校60年来，学
                    校始终坚持“艰苦奋斗、自强不息、求真务实、开拓创新”的办学精神，一代又一代广西科师人不辱使命、辛勤耕耘，培养人才、奉献社会，并抢抓机遇、加快发展，最终实现了升本目标。他
                    指出，60年的砥砺前行、开拓进取，学校办学取得了累累硕果，构建了适应地方经济社会发展的学科专业体系，打造了一支师德高尚、业务精湛、充满活力的高素质专业化教师队伍，凝练
                    了“立足师范本色、服务职教发展、培养应用人才”的办学特色，为社会培养了8万多名合格人才。他表示，新时代、新征程，学校将不忘初心、砥砺前行。坚持以习近平新时代中国特色社会主
                    义思想为指导，全面贯彻党的教育方针，落实全国教育大会和新时代全国高等学校本科教育工作会议精神，全面坚持“以本为本”，切实推进“四个回归”，培养担当民族复兴大任的时代新人；主
                    动适应社会需求，紧贴地方办学，致力于培养应用型技术技能型人才，着力提升服务经济社会发展能力；坚守家国情怀，把学校发展方向同国家发展的现实目标和未来方向紧密联系，融入科教兴
                    国战略、人才强国战略，在服务国家建设中阔步向前、奋勇争先。
                </p>
                <br/>
                <div style="size: 50px">
                    <img src="../static/img/xq3.jpg">
                </div>
                <h>
                    学校校长张鹏在会上致辞
                </h>
                <div><br/></div>
                <p>
                    桂林理工大学党委书记李国忠教授作为兄弟院校代表在会上致辞。他向我校全体师生和广大校友们致以最美好的祝愿。他表示，桂林理工大学将与广西科技师范学院一道携手并进，增强历史使命感和
                    社会责任感，进一步加强交流合作，共同扎根八桂大地办大学，解放思想、与时俱进、抓住机遇、开拓创新，为国家培养更多的栋梁之才，为实现广西“两个建成”和中华民族伟大复兴中国梦作出新的
                    更大的贡献。
                </p>
                <br/>

                <div style="size: 50px">
                    <img src="../static/img/xq4.jpg">
                </div>
                <h>桂林理工大学党委书记李国忠在会上致辞</h>
                <div><br/></div>
                <p>
                    我校数学专业88届毕业生、中国农业银行崇左市分行党委书记、行长谢斌作为校友代表在会上致辞。他代表历届校友向母校表示最衷心的祝福，并勉励广大青年学子，只要心中有党、心中有国、心中有校，
                    就能感受到心中有阳光、脚下有力量；只要勤学习、善积累，完全可以不逊于名门之花；只要存善意、懂感恩，每一条路都可以越走越宽。
                </p>
                <br/>

                <div style="size: 50px">
                    <img src="../static/img/xq5.jpg">
                </div>

                <h>我校数学专业88届毕业生、中国农业银行崇左市分行党委书记、行长谢斌作为校友代表在会上致辞</h>
                <div><br/></div>

                <p>
                    来宾市委书记、市人大常委会主任农生文在庆祝大会上讲话。他指出，广西科技师范学院建校60周年，是来宾市教育事业发展的一件大事，他代表来宾市四家班子表示热烈的祝贺。他高度肯定了学校历届领导班子、
                    离退休教职工和历代广西科师人为学校的建设与发展、为促进来宾市教育发展所作出的贡献。他表示，来宾市委、市政府将继续加大教育投入，不断加强政校合作，全力支持广西科技师范学院建设特色鲜明的地方应
                    用型本科院校，办好人民满意的教育。他希望，学校要以建校60周年为新的起点，深入学习贯彻落实习近平新时代中国特色社会主义思想和党的十九大精神，加强党对学校的全面领导，把思想政治工作贯穿教育教学
                    的全过程，实现全程育人、全方位育人，秉承优良办学传统，充分发挥人才培养的先导作用，为来宾市经济社会发展培养更多更优秀的人才。

                </p>
                <br/>

                <div style="size: 50px">
                    <img src="../static/img/xq6.jpg">
                </div>

                <h>来宾市委书记、市人大常委会主任农生文在会上讲话</h>
                <div><br/></div>
                <p>
                    会上，自治区人民政府副主席黄俊华作了讲话。他指出，作为桂中地区唯一的师范类高等院校，广西科技师范学院肩负着培养高素质基础教育、职业教育师资和应用型技术技能人才，服务桂中乃至广西经济社会发展及乡村
                    振兴的光荣使命，并对学校办学60年来所取得的显著成绩表示祝贺。他表示，自治区人民政府将一如既往地关心和支持广西科技师范学院，为学校教育事业、改革发展提供良好的条件。他要求，学校要站在新的历史起点上，
                    坚持以习近平新时代中国特色社会主义思想为指导，全面贯彻党的教育方针，深入贯彻全国教育大会精神，坚持正确的办学方向，坚持内涵式发展道路，深化教育教学改革，不断提高办学实力和办学水平，努力提高人才培养
                    质量；立足桂中、面向广西、放眼全国，早日把学校建设成为特色鲜明的地方应用型高水平的大学。他强调，广西科技师范学院全体教职员工要注重师德建设，坚持以人为本，打造一支有理想信念、有道德情操、有扎实学识、
                    有仁爱之心的高素质人才队伍，培养更多的德智体美劳全面发展的社会主义建设者和接班人，为谱写新时代广西教育发展的新篇章作出新的更大的奉献。
                </p>
                <br/>

                <div style="size: 50px">
                    <img src="../static/img/xq7.jpg">
                </div>

                <h>自治区人民政府副主席黄俊华在会上讲话</h>
                <div><br/></div>
                <p>庆祝大会结束时，领导、嘉宾、校友、离退休教职工及师生代表观看学校办学成果汇报演出。</p>
                <br/>

                <div style="size: 50px">
                    <img src="../static/img/xq8.jpg">
                </div>
                <div style="size: 50px">
                    <img src="../static/img/xq9.jpg">
                </div>
                <div style="size: 50px">
                    <img src="../static/img/zx1.jpg">
                </div>
                <div style="size: 50px">
                    <img src="../static/img/zx2.jpg">
                </div>
                <div style="size: 50px">
                    <img src="../static/img/zx3.jpg">
                </div>

                <h>办学成果汇报演出</h>
                <div><br/></div>
                <p>
                    在举行庆祝大会之前，学校举行新华书苑揭牌暨捐赠图书仪式。学校杰出校友、自治区人民政府参事、督学于瑮，来宾市委常委、常务副市长廖和明，广西出版传媒集团有限公司副总经理向润华，
                    广西新华书店集团股份有限公司党委书记、董事长张华斌，学校校长张鹏、副校长梁梅等领导出席仪式，学校相关部门负责人及文化与传播学院师生代表近100人参加仪式。向润华副总经理在仪
                    式上讲话，张鹏校长在仪式上致辞，于瑮教授、廖和明副市长、向润华总经理和张鹏校长共同为“新华书苑”揭牌。张华斌董事长代表广西出版传媒集团有限公司、广西民族出版社向学校捐赠图书；
                    学校杰出校友于瑮向母校捐赠专著27种共67册，这批著作是她多年辛勤耕耘的成果。
                </p>
                <br/>


                <div style="size: 50px">
                    <img src="../static/img/zx4.jpg">
                </div>

                <h> 揭牌仪式</h>
                <div><br/></div>
                <p>
                    当天，学校还举行“同心协力，共话母校发展”校友座谈会，“用创新思维引领大学生创业”创新创业论坛，杰出校友专题报告会等系列活动，开展学校60周年校庆宣传片展播、参观校史馆、师生校园
                    文化展演等系列活动。这充分体现“文化校庆、学术校庆”的办校庆宗旨。
                </p>
                <br/>

                <div style="size: 50px">
                    <img src="../static/img/zx5.jpg">
                </div>

                <h>
                    自治区人民政府副主席黄俊华、来宾市委书记农生文等领导参观学校校史馆
                </h>
                <div><br/></div>

                <p>
                    校庆前夕，华东师范大学、天津职业技术师范大学、中南民族大学、江西科技师范大学、广西大学、广西师范大学、广西医科大学、桂林理工大学、桂林电子科技大学、广西师范学院等20多所区内外高校和北
                    京中科特瑞科技有限公司、广西航天信息技术有限公司、新道科技股份有限公司等企业纷纷发来贺信、贺电，对学校建校60周年表示祝贺。
                </p>
            </div>
        </div>

    </div>

</section>


</body>
</html>