<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/apply.css">

    <title>校庆管理系统系统</title>
</head>

<body>
<section style="background-image: url(../static/img/apply.jpg);background-size: cover">

    <div class="container" style="height: 472px;border-radius: 10px;backdrop-filter: blur(0px)">
        <div class="form">
            <h2 style="text-align: center">院系活动报名预约信息填报</h2>
            <form action="http://127.0.0.1:8000/apply1/" method="post">

                    <input type="hidden" name="active" value="{{ active }}"/>
                <div class="inputBox">
                    <input type="text" name="name" placeholder="请输入学生姓名" autofocus required>

                </div>
                <div class="inputBox">
                    <input type="card" placeholder="请输入学号" name="card" required>

                </div>
                <div class="inputBox">
                    <input type="text" id="phone" name="phone" placeholder="请输入手机号码"
                           onkeyup="value=value.replace(/[^\d]/g,'')" autofocus required>
                    <!--onkeyup="value=value.replace(/[^\d]/g,'')强制拒绝输入不为数字的值-->
                </div>
                <div class="inputBox">
                    <input type="text" name="email" placeholder="请输入Email" autofocus required>

                </div>

                <div class="inputBox">
                    <input type="text" name="college" placeholder="请输入学院" autofocus required>

                </div>

                <div class="inputBox">
                    <input type="text" name="zy" placeholder="请输入专业" autofocus required>

                </div>



                <div class="inputBox" style="text-align: left ">
                    <input type="submit" value="确定">
                </div>


                <p class="forget">已经报名<a href="http://127.0.0.1:8000/dp_active">
                    选择其它活动
                </a></p>


            </form>
        </div>
    </div>
    </div>
</section>
<script>
    {% for msg in messages %}

        alert("{{ msg.message }}");

    {% endfor %}


</script>
</body>

</html>
